@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  margin: 0;
}
header nav {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  position: fixed;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav .logo {
  justify-content: flex-start;
  margin-left: 2%;
}
header nav .menu {
  margin-left: auto;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  width: 40%;
  text-align: end;
}
@media (max-width: 500px) {
  header nav .menu {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 991px) {
  header nav .menu {
    font-size: 2rem;
    width: 65%;
  }
}
header nav .menu a {
  color: lightsteelblue;
  text-decoration: none;
  padding: 0 1%;
}
header nav .menu a:hover {
  color: #9fd1fe;
}
.container {
  max-height: 100vh;
}
.container .content {
  background: #f0f8ff;
  background: radial-gradient(circle, #f0f8ff 41%, #e3ecf4 53%, rgba(207, 226, 228, 0.65946858) 98%);
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 501px) and (max-width: 991px) {
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content img {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .content img {
    display: none;
  }
}
.container .content .main-cta {
  width: 25%;
  text-align: center;
  font-weight: 700;
  padding-right: 20px;
}
@media (min-width: 501px) and (max-width: 991px) {
  .container .content .main-cta {
    width: 57%;
  }
}
@media (max-width: 500px) {
  .container .content .main-cta {
    width: 57%;
  }
}
.container .content .main-cta p {
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.4);
}
.container .content .main-cta a {
  text-decoration: none;
}
.container .content .main-cta button {
  margin: auto;
  background-color: lightsteelblue;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.container .content .main-cta button:hover {
  background: #9fd1fe;
}
@media (max-width: 1331px) {
  .container .content .main-cta button {
    width: 60%;
  }
}
footer {
  display: flex;
  align-items: center;
  height: 5%;
  width: 100%;
  background: aliceblue;
  z-index: 999;
  position: absolute;
}
footer .footer-info {
  margin-left: 5%;
}
