.center() {
    display: flex;
    justify-content: center;
    align-items: center;

}//center end

.custom-button() {
    background-color: lightsteelblue;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
    .center();
}//button end

.img-att() {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.team-divs {
    width: 160px;
    height: 200px;
    text-align: center; 
}